.Cell {
  height: clamp(15px, 15vw, 150px);
  width: clamp(15px, 15vw, 150px);
  font-size: clamp(1px, 5vw, 60px);
  border-radius: 15px;
  background-color: #009edd;
}

.Cell:hover {
  opacity: 0.5;
  cursor: pointer;
}

@keyframes shake {
  0% {
    content: "💣";
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}
