.Cell {
  position: relative;
  aspect-ratio: 1/1;
  font-size: 100%;
  border-radius: 5%;
  background-color: #009edd;
}

.Cell:hover {
  opacity: 0.5;
  cursor: pointer;
}

@keyframes shake {
  from {
    background-color: #009edd;
  }
  to {
    background-color: red;
  }
}
